<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- https://www.quackit.com/html/templates/simple_website_templates.cfm -->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Peers Health</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Peers</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

  
		<div class="col-sm-3" >
		</div>	
		<!-- Center Column -->
		<div class="col-sm-6" >
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>Notice:</strong> Please disable your browser from caching before using this website, e.g. 
                using <a href="https://chrome.google.com/webstore/detail/classic-cache-killer/kkmknnnjliniefekpicbaaobdnjjikfp?hl=en"> Cache Killer</a>
			</div>
			<!-- Articles -->
			<div class="row">
				<article class="col-xs-12">
					<h2>Kaplan Meier Curve</h2>
					<p>Set your search criteria, then generate the plot.</p>
					<div class = "form">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <h3> Select Age Range: </h3>
                            Min age:<input type="text" name="agemin" value="18"> Max age:<input type="text" name="agemax" value="70">
                            <h3> Select Gender: </h3>
                            <input type="checkbox" name="gender" value="male"/>Male<input type="checkbox" name="gender" value="female"/>Female
                            <h3>Select backstrain codes: </h3>
                            <table>
                                <tr>
                                <td><input type="checkbox" name="diagcode" value="724.2"/>724.2</td>    
                                <td><input type="checkbox" name="diagcode" value="846"/>846 </td>
                                <td><input type="checkbox" name="diagcode" value="847"/>847 </td>
                                </tr>
                                <tr>
                                <td><input type="checkbox" name="diagcode" value="847.1"/>847.1</td>    
                                <td><input type="checkbox" name="diagcode" value="847.2"/>847.2</td>
                                <td><input type="checkbox" name="diagcode" value="847.3"/>847.3</td>
                                </tr>
                                <tr>
                                <td><input type="checkbox" name="diagcode" value="847.4"/>847.4</td>    
                                <td><input type="checkbox" name="diagcode" value="847.9"/>847.9</td>
                                </tr>
                            </table>
                            <h3> Select population with/without depression: </h3>
                            <input type="checkbox" name="depression" value="Depression"/>Depression <input type="checkbox" name="depression" value="No Depression"/>No Depression
                            <h3> Select population with/without opioids treatment: </h3>
                            <input type="checkbox" name="opioid" value="Opioid"/>Opioid<input type="checkbox" name="opioid" value="No Opioids"/>No Opioid <br>
                            <input type="submit" name="kmplot" value="Generate Plot"/>
                        </form>
                        <p>
                            <img src = "{{url_for('static',filename='kmplot.png')}}"
                            alt ="Kaplan-Meier Plot"
                            height="300px" width="400px">
                        </p>
                    </div>
                </article>
            </div>
            <div class="row">
                <article class="col-xs-12">
                    <h2>Return to Work Probability</h2>
                    <p>Set your search criteria, then get the probability of returning to work.</p>
                    <div class = "form">
                    <form action="#" method="post" enctype="multipart/form-data">
                        <h3> Input Patient Age: </h3>
                        <input type="text" name="age" value="30"><br>
                        <h3> Select Gender: </h3>
                        <select name="gender">
                            <option value="0" selected="selected">Male</option>
                            <option value="1">Female</option>
                        </select>
                        <h3>Select backstrain codes: </h3>
                        <select name="diagcode">
                            <option value="724.2" selected="selected">724.2</option>
                            <option value="846">846</option>
                            <option value="847">847</option>
                            <option value="847.1">847.1</option>
                            <option value="847.2">847.2</option>
                            <option value="847.3">847.3</option>
                            <option value="847.4">847.4</option>
                            <option value="847.9">847.9</option>
                        </select>
                        <h3> Is the patient diagnosed with depression? </h3>
                        <select name="depression">
                            <option value="1" selected="selected">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <h3> Did your patient have opioid Treatment? </h3>
                        <select name="opioid">
                            <option value="1" selected="selected">Yes</option>
                            <option value="0">No</option>
                        </select>
                        <h3>Disability Duration(days):</h3>
                        <input type="text" name="duration" value="30"><br>
                        <input type="submit" name="probcalc" value="Calculate Probability"/>
                    </form>
                    <p>Return to Work Probability: {{rtwprob}}%</p>

                    </div>
                </article>
			</div>
			<hr>
			
			<hr>
		</div><!--/Center Column-->
		<div class="col-sm-3" >
		</div>	

	</div><!--/container-fluid-->
	
	<footer>

        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; peershealth.com 2018 </p>
        	</div>
        </div>
	</footer>

</body>

</html>
