<!DOCTYPE html>
<!-- Template by Quackit.com -->
<!-- https://www.quackit.com/html/templates/simple_website_templates.cfm -->
<!-- Start working on the new template and fonts-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Peers Health</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Custom CSS: You can use this stylesheet to override any Bootstrap styles and/or apply your own styles -->
    <link href="{{url_for('static',filename='css/custom.css')}}" rel="stylesheet">

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <!-- Logo and responsive toggle -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"> Peers</a>
            </div>
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="#">Home</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<div class="container-fluid">

  
		<div class="col-sm-3" >

		</div>	
		<!-- Center Column -->
		<div class="col-sm-6" >
            <div class="alert alert-success alert-dismissible" role="alert">
                <strong>Notice:</strong> Please disable your browser from caching before using this website, e.g. 
                using <a href="https://chrome.google.com/webstore/detail/classic-cache-killer/kkmknnnjliniefekpicbaaobdnjjikfp?hl=en"> Cache Killer</a>
			</div>
			<!-- Articles -->
			<div id="kmplot">
				<article class="col-xs-12">
					<h2>Return-to-Work Probability Curve</h2>
					<p>Set your search criteria, then generate the plot.</p>
					<div class = "form">
                        <form action="#" method="post" enctype="multipart/form-data">
                            <h3> Select Age Range: </h3>
                            Min age:<input type="text" name="agemin" value="18"> Max age:<input type="text" name="agemax" value="70">
                            <h3> Select Gender: </h3>
                            <label class="container">Male
                                <input type="checkbox" name="gender" value="male"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">Female
                                <input type="checkbox" name="gender" value="female"/>
                                <span class="checkmark"></span>
                            </label>
                            <h3>Select backstrain codes: </h3>
                            <label class="container">724.2 Lumbago
                                <input type="checkbox" name="diagcode" value="724.2"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">846 Sprain of lumbosacral
                                <input type="checkbox" name="diagcode" value="846"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847 Sprain of unspecified parts of back
                                <input type="checkbox" name="diagcode" value="847"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847.1 Sprain of thoracic region
                                <input type="checkbox" name="diagcode" value="847.1"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847.2 Sprain of lumbar region
                                <input type="checkbox" name="diagcode" value="847.2"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847.3 Sprain of sacrum
                                <input type="checkbox" name="diagcode" value="847.3"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847.4 Sprain of coccyx
                                <input type="checkbox" name="diagcode" value="847.4"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">847.9 Sprain of unspecified site of back
                                <input type="checkbox" name="diagcode" value="847.9"/>
                                <span class="checkmark"></span>
                            </label>
                            <h3> Select population with/without depression: </h3>
                            <label class="container">Depression
                                <input type="checkbox" name="depression" value="Depression"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">No Depression
                                <input type="checkbox" name="depression" value="No Depression"/>
                                <span class="checkmark"></span>
                            </label>
                            <h3> Select population with/without opioids treatment: </h3>
                            <label class="container">Opioid
                                <input type="checkbox" name="opioid" value="Opioid"/>
                                <span class="checkmark"></span>
                            </label>
                            <label class="container">No Opioid
                                <input type="checkbox" name="opioid" value="No Opioids"/>
                                <span class="checkmark"></span>
                            </label>
                            <input type="submit" name="kmplot" value="Generate Plot"/>
                        </form>
                        <p>
                            <img src = "{{url_for('static',filename='kmplot.png')}}"
                            alt ="Kaplan-Meier Plot"
                            height="360px" width="480px">
                        </p>
                    </div>
                </article>
            </div>
            
            <hr>

            <div id="probability">
                loading...
			</div>
			<hr>
		</div><!--/Center Column-->
		<div class="col-sm-3" >
		</div>	

	</div><!--/container-fluid-->
	
	<footer>

        <div class="small-print">
        	<div class="container">
        		<p><a href="#">Terms &amp; Conditions</a> | <a href="#">Privacy Policy</a> | <a href="#">Contact</a></p>
        		<p>Copyright &copy; peershealth.com 2018 </p>
        	</div>
        </div>
	</footer>
    <script type="text/javascript" src="{{url_for('static', filename='js/bundle.js')}}"></script>
</body>

</html>
